################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vmp-analyzer/v17
/bin
/build
/.vs/vmp-analyzer/FileContentIndex
